
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}


header.banner {
    padding: 20px;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between; 
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
}

/* Left logo */
.logo-container {
    flex-shrink: 0;
}

.logo-container img {
    max-width: 200px;
    margin-left: 20px;
}

/* Right logo */
.right-logo-container {
    margin-right: 200px;
    flex-shrink: 0;
}

.right-logo-container img {
    max-width: 125px;
}

/* menu */
nav.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

nav.nav ul li {
    display: inline-block;
}

nav.nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav.nav ul li a:hover {
    background-color: #ff6666;
}


.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

/* Ovelay */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-size: 100px;
    z-index: 5;
}

.overlay-text h2 {
    font-size: 25px;
}

.overlay-text p {
    font-size: 20px;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design */
@media (max-width: 768px) {
    header.banner {
        flex-direction: column;
        padding: 10px;
    }

    .logo-container img, .right-logo-container img {
        max-width: 150px;
    }

    nav.nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .overlay-text {
        font-size: 40px;
    }

    .overlay-text h2 {
        font-size: 28px;
    }

    .overlay-text p {
        font-size: 16px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    header.banner {
        padding: 5px;
    }

    .logo-container img, .right-logo-container img {
        max-width: 100px; 
    }

    nav.nav ul {
        gap: 20px;
    }

    nav.nav ul li a {
        font-size: 14px;
        padding: 5px 10px;
    }

    .overlay-text {
        font-size: 30px;
    }

    .overlay-text h2 {
        font-size: 22px;
    }

    .overlay-text p {
        font-size: 14px;
    }
}
